body {
    font-family: "Open Sans", sans-serif;
    /* max-width: 900px; */
    /* width: 700px; */
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    background-color: #EEEEEE !important;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    display: table;
    margin: auto;
}

code {
    /* background: hsl(220, 80%, 90%); */
}

pre {
    white-space: pre-wrap;
    background: #f6f8fa;
}

.visualisation {
    /* border-top: 1px solid #CCC; */
    margin-top: 50px;
    margin-bottom: 10px;
}

button {
    background: white;
    border: 1px solid #8cc9D0 !important;
    color: #8cc9D0;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 10px !important;
}